{% extends 'base.html' %}

{% block content %}

        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Banking</h1>
        </div>

        <div class="row">
            <div class="col-12 ">
                <div class="tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#tab-1"
                                                                    data-bs-toggle="tab" role="tab"
                                                                    aria-selected="true">Bank</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#tab-2" data-bs-toggle="tab"
                                                                    role="tab" aria-selected="false" tabindex="-1">UPI</a>
                        </li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#tab-3" data-bs-toggle="tab"
                                                                    role="tab" aria-selected="false" tabindex="-1">Other</a>
                        </li>
                    </ul>
{#                    <div class="tab-content">#}
{#                        <div class="tab-pane active show" id="tab-1" role="tabpanel">#}
{#                            <h4 class="tab-title">Default tabs</h4>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget#}
{#                                dolor tellus eget condimentum#}
{#                                rhoncus. Aenean massa. Cum sociis natoque penatibus et magnis neque dis parturient#}
{#                                montes, nascetur ridiculus mus.#}
{#                            </p>#}
{#                            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat#}
{#                                massa quis enim. Donec pede#}
{#                                justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,#}
{#                                imperdiet a, venenatis vitae,#}
{#                                justo.</p>#}
{#                        </div>#}
{#                        <div class="tab-pane" id="tab-2" role="tabpanel">#}
{#                            <h4 class="tab-title">Another one</h4>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget#}
{#                                dolor tellus eget condimentum#}
{#                                rhoncus. Aenean massa. Cum sociis natoque penatibus et magnis neque dis parturient#}
{#                                montes, nascetur ridiculus mus.#}
{#                            </p>#}
{#                            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat#}
{#                                massa quis enim. Donec pede#}
{#                                justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,#}
{#                                imperdiet a, venenatis vitae,#}
{#                                justo.</p>#}
{#                        </div>#}
{#                        <div class="tab-pane" id="tab-3" role="tabpanel">#}
{#                            <h4 class="tab-title">One more</h4>#}
{#                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget#}
{#                                dolor tellus eget condimentum#}
{#                                rhoncus. Aenean massa. Cum sociis natoque penatibus et magnis neque dis parturient#}
{#                                montes, nascetur ridiculus mus.#}
{#                            </p>#}
{#                            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat#}
{#                                massa quis enim. Donec pede#}
{#                                justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,#}
{#                                imperdiet a, venenatis vitae,#}
{#                                justo.</p>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>

        </div>

{% endblock content %}
