{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Total Balance: {{ total_balance }}</h5>
            <h6 class="card-subtitle text-muted">Total: 0.00 (CI) &nbsp;&nbsp; Total Deposit
                : {{ total_deposit }} &nbsp;&nbsp; REF Pnl: 10000.00 (CI)</h6>
        </div>
        <div class="card-body">
            <table id="datatables-reponsive" class="table table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Balance ₹</th>
                    <th>Deposit ₹</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for profile in profiles %}
                    <tr>
                        <td>{{ profile.nickname }}</td>
                        {% if profile.balance <= 0 %}
                            <td><span class="badge bg-danger">{{ profile.balance }}</span></td>
                        {% else %}
                            <td>{{ profile.balance }}</td>
                        {% endif %}

                        {% if profile.exposure_limit <= 0 %}
                            <td><span class="badge bg-danger">{{ profile.exposure_limit }}</span></td>
                        {% else %}
                            <td>{{ profile.exposure_limit }}</td>
                        {% endif %}

                        <td>
                            {% if profile.is_active %}
                                {% if profile.is_suspended %}
                                    <span class="badge bg-danger">Suspended</span>
                                {% elif profile.is_locked %}
                                    <span class="badge bg-danger">Locked</span>
                                {% else %}
                                    <span class="badge bg-success">Active</span>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-success">Inactive</span>
                            {% endif %}
                        </td>
                        <td>
                            {#                        <a href="{% url 'edit_profile' profile.id %}" class="btn btn-sm btn-primary">Edit</a>#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Datatables Responsive
            $("#datatables-reponsive").DataTable({
                responsive: true
            });
        });

        document.addEventListener("DOMContentLoaded", function (event) {
            setTimeout(function () {
                if (localStorage.getItem('popState') !== 'shown') {
                    window.notyf.open({
                        type: "success",
                        duration: 10000,
                        ripple: true,
                        dismissible: false,
                        position: {
                            x: "left",
                            y: "bottom"
                        }
                    });

                    localStorage.setItem('popState', 'shown');
                }
            }, 15000);
        });
    </script>
{% endblock content %}